#chatbox {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 1000;
    display: block;
    background-color: #ffffff;
}
#name_app {
    display: flex;
    font-size: 30px;
    text-align: center;
    color: cornflowerblue;
    text-shadow: 2px 2px #bfacac;
}

#messages {
    height: 250px;
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#input-form {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

#input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
}

#send-button {
    width: 10%;
    border: 0;
    padding: 5px;
    cursor: pointer;
    background: transparent;
}

#send-button>img {
    width: 30px;
    height: 30px;
}

.message {
    width: -webkit-fill-available;
}

.message span {
    max-width: 70%;
    padding: 10px;
    border-radius: 15px;
}

.icon {
    background: transparent;
    border: 0;
    padding: 10px;
}

.icon>img {
    width: 25px;
}


.message {
    width: -webkit-fill-available;
}

.message span {
    max-width: 70%;
    padding: 10px;
    border-radius: 15px;
}

.user span {
    background: #578b83;
}

.model span {
    background: #e4e6e7c2;
}

.user {
    display: flex;
    justify-content: right;
}

.model {
    display: flex;
    justify-content: left;
}
