.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: white;
}
.about img {
    width: 50px;
    height: 50px;
}
.about-item {
    display: flex;
    align-items: center;
    gap: 20px;
}
.about-item h5 {
    font-size: 20px;
    font-weight: 600;
}
.about-item p {
    color: #666;
}


.product {
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product-item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.product-item p {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}
.product-item div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 25%;
    height: 350px;
}

.product-item img{
    width: 100%;
    height: 80%;
}
.checked {
    color: orange;
}

.outstanding-product{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.outstanding-product .item{
    flex: 1;
    height: 650px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.outstanding-product .item-1{
    flex: 1;
    height: 550px;
    padding: 20px;
}
.outstanding-product .item img{
    width: 100%;
    height: 60%;
}
.outstanding-product .item-bottom{
    display: flex;
    justify-content: space-between;
}
.item-title{
    max-height: 50px;
    font-size: 18px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.item-description{
    font-weight: 500;
    font-size: 20px;
}

.follow{
    padding: 20px 80px;
    background-color: rgb(227, 205, 205);
    display: flex;
    justify-content: space-between;
}

.follow img{
    width: 40px;
    height: 40px;
}

.follow div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sending{
    background-color: #fff;
    color: #000;
    height: 58px;
}
